<div class="Qc_index">
    <div class="Qc_index_banner" style="margin-bottom: 20px">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"> <a class="item" href="https://qiucode.cna/17/" target="_blank"
                        rel="noopener noreferrer nofollow"> <img width="100%" height="100%"
                            class="thumbnail lazyload" src="/usr/themes/Xc/assets/img/lazyload.jpg"
                            data-src="http://img.xx9q.com/blog/typecho/lg4std2p.png"
                            alt="Typecho七牛插件，为您的网站访问加速" />
                        <div class="title">Typecho七牛插件，为您的网站访问加速</div> <svg class="icon"
                            viewBox="0 0 1026 1024" xmlns="http://www.w3.org/2000/svg" width="18"
                            height="18">
                            <path
                                d="M784.3 1007.961a33.2 33.2 0 0 1-27.106-9.062L540.669 854.55 431.766 962.813c-9.062 9.062-36.168 18.044-45.23 9.062a49.72 49.72 0 0 1-27.106-45.23V727.763a33.2 33.2 0 0 1 9.463-27.106l343.071-370.578a44.748 44.748 0 0 1 63.274 63.274l-334.17 361.515v72.175l63.273-54.211a42.583 42.583 0 0 1 54.212-9.062l198.64 126.386L910.847 140.34 151.647 510.837 323.343 619.34c18.044 9.062 27.106 45.23 9.062 63.273-9.062 18.044-45.23 27.106-63.273 18.044L34.082 547.005c-8.981-8.982-18.043-17.723-18.043-36.168s9.062-27.105 27.105-36.167l903.79-451.815c18.043-9.062 36.167-9.062 45.229 0 18.284 9.223 18.284 27.106 18.284 45.15L829.69 971.794c0 18.043-9.062 27.105-27.105 36.167z" />
                        </svg>
                    </a> </div>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="Qc_index_title" style="display: none">
        <ul class="Qc_index_title-title">
            <li class="item" data-type="created">最新文章</li>
        </ul>
    </div>
    <div class="Qc_index_list">
        <ul class="Qc_list">


            {{ range $index,$data := first 10 (where site.RegularPages "Type" "post") }}
            {{ partial "article.html" $data }}
            
            <!-- <li class="Qc_list_item wow index2">
                <div class="line"></div>
                <a href="https://qiucode.cna/7/" class="thumbnail" title="本主题—Joe魔改  一款个人类型Typecho主题" rel="noopener noreferrer">
                    <img width="100%" height="100%" class=" lazyloaded" src="http://img.xx9q.com/blog/typecho/lelh0gx7.png" data-src="http://img.xx9q.com/blog/typecho/lelh0gx7.png" alt="本主题—Joe魔改  一款个人类型Typecho主题">
                </a>
                <div class="information">
                    <a href="https://qiucode.cna/7/" class="title" title="本主题—Joe魔改  一款个人类型Typecho主题" rel="noopener noreferrer">
                        <span class="badge" style="display:inline-block">置顶</span>{{ .Title }}
                    </a>
                    <a class="abstract" href="https://qiucode.cna/7/" title="文章摘要" rel="noopener noreferrer">1、整包仅1.3Mb，却实现超强功能，极其迅速的响应（在开发时，都是使用30000篇文章进行开发测试）
                    2、全站变量名、类名统一规范，重在方便更多人参与二开与拓展
                    3、主题开箱即用，没有任何复杂的操作，无需像其他主题去特意创建个分类等。
                    4、主题首发Typecho独家Joe编辑器
                    5、主题响应式布局，不依赖任何响应式框架，采用 Joe 独家响应式
                    6、主题在一切可能暴露的接口上，屏蔽sql注入、xss攻击风险，提供安全保障
                    7、内置超强视频功能、包含直播功能、全网影视功能、文章内插入视频功能
                    8、主题SEO极致优化，Lighthouse SEO跑分彪满100分
                    9、主题色彩全局公用、小白轻松直接修改整站自定义主题色
                    10、主题内置代码高亮、无需借助任何插件、支持200种语言
                    11、主题首发极强画图回复功能，为你的博客带来用户互动，不再像传统博客那样，仅限文字
                    12、主题内置sitemap、百度推送、友联、回复可见等，无需依赖任何插件</a>
                    <div class="meta">
                        <ul class="items">
                            <li><i class="iconfont icon-time"></i>2个月前</li>
                            <li><i class="iconfont icon-yuedu"></i>4,131</li>
                            <li><i class="iconfont icon-pinglun"></i>30</li>
                            <li><i class="iconfont icon-zan"></i>3</li>
                        </ul>
                        <div class="last" style="display:flex">
                            <i class="iconfont icon-A21" style="margin-right:2px;font-size:15px"></i>
                            <a class="link" rel="noopener noreferrer" href="https://qiucode.cncategory/default/">日常分享</a>
                        </div>
                    </div>
                </div>
            </li> -->



            {{ end }}

        </ul>
        <!-- <ul class="Qc_list_loading">
            <li class="item">
                <div class="thumbnail"></div>
                <div class="information">
                    <div class="title"></div>
                    <div class="abstract">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </li>
            <li class="item">
                <div class="thumbnail"></div>
                <div class="information">
                    <div class="title"></div>
                    <div class="abstract">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </li>
        </ul> -->
    </div>
</div>
<!-- <div class="j-Qc_load" data-type="article">
    <div class="Qc_load">查看更多</div>
</div> -->

{{- $pages := union .RegularPages .Sections }}

{{- if .IsHome }}
    {{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}

{{- $paginator := .Paginate $pages }}


{{- if gt $paginator.TotalPages 1 }}
    <!-- <footer class="page-footer">
    <nav class="pagination"> -->
    <ul class="Qc_pagination">

    <!--    {{- if $paginator.HasPrev }}-->
    <!--    <a class="prev" href="{{ $paginator.Prev.URL | absURL }}">{{ i18n "prev_page" }}</a>-->
    <!--    {{- end }}-->

    {{- if not (eq $paginator.PageNumber 1) }}
    <!-- <span class="numFirst">
        <a class="pageFirst" href="{{ $paginator.First.URL | absURL }}">{{ "1" }}</a>
    </span> -->
    <li>
        <a  href="{{ $paginator.First.URL | absURL }}">{{ "1" }}</a>
    </li>
    {{- if not (eq $paginator.PageNumber 2) }}
    &nbsp;...&nbsp;
    <!-- <span class="numPrev">
            <a class="pagePrev" href="{{ $paginator.Prev.URL | absURL }}">{{ sub $paginator.PageNumber 1 }}</a>
        </span> -->

    <li >
        <a  href="{{ $paginator.Prev.URL | absURL }}">{{ sub $paginator.PageNumber 1 }}</a>
    </li> 
    {{- end }}
    {{- end }}

    <!-- <span class="pageNum">
    <a class="pageNow" href="{{ $paginator.URL | absURL }}">{{ $paginator.PageNumber }}</a>
    </span> -->

    <li >
        <a  href="{{ $paginator.URL | absURL }}">{{ $paginator.PageNumber }}</a>
    </li>

    {{- if not (eq $paginator.PageNumber $paginator.TotalPages) }}
    {{- if not (eq $paginator.PageNumber ( sub $paginator.TotalPages 1)) }}
    <!-- <span class="numNext">
            <a class="pageNext" href="{{ $paginator.Next.URL | absURL }}">{{ add $paginator.PageNumber 1 }}</a>
        </span> -->

    
    <li >
        <a  href="{{ $paginator.Next.URL | absURL }}">{{ add $paginator.PageNumber 1 }}</a>
    </li>
    &nbsp;...&nbsp;
    {{- end }}
    <!-- <span class="numLast">
        <a class="pageLast" href="{{ $paginator.Last.URL | absURL }}">{{ $paginator.TotalPages }}</a>
    </span> -->

    <li >
        <a class="pageLast" href="{{ $paginator.Last.URL | absURL }}">{{ $paginator.TotalPages }}</a>
    </li>
    {{- end }}

    <!--    {{- if $paginator.HasNext }}-->
    <!--    <a class="next" href="{{ $paginator.Last.URL | absURL }}">{{ i18n "next_page" }}</a>-->
    <!--    {{- end }}-->

<!-- </nav>
</footer> -->

</ul>

{{- end }}







<!-- <ul class="Qc_pagination">
    <li class="prev">
        <a href="https://www.xccx.cc/sn.html/comment-page-1#comments">
            <svg class="icon icon-prev" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <path d="M822.272 146.944l-396.8 396.8c-19.456 19.456-51.2 19.456-70.656 0-18.944-19.456-18.944-51.2 0-70.656l396.8-396.8c19.456-19.456 51.2-19.456 70.656 0 18.944 19.456 18.944 45.056 0 70.656z"></path>
                <path d="M745.472 940.544l-396.8-396.8c-19.456-19.456-19.456-51.2 0-70.656 19.456-19.456 51.2-19.456 70.656 0l403.456 390.144c19.456 25.6 19.456 51.2 0 76.8-26.112 19.968-51.712 19.968-77.312.512zm-564.224-63.488c0-3.584 0-7.68.512-11.264h-.512v-714.24h.512c-.512-3.584-.512-7.168-.512-11.264 0-43.008 21.504-78.336 48.128-78.336s48.128 34.816 48.128 78.336c0 3.584 0 7.68-.512 11.264h.512v714.24h-.512c.512 3.584.512 7.168.512 11.264 0 43.008-21.504 78.336-48.128 78.336s-48.128-35.328-48.128-78.336z"></path>
            </svg>
        </a>
    </li>
    <li>
        <a href="https://www.xccx.cc/sn.html/comment-page-1#comments">1</a>
    </li>
    <li class="active">
        <a href="https://www.xccx.cc/sn.html/comment-page-2#comments">2</a>
    </li>
    <li class="next">
        <a href="https://www.xccx.cc/sn.html/comment-page-2#comments">
            <svg class="icon icon-next" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" width="12" height="12">
                <path d="M822.272 146.944l-396.8 396.8c-19.456 19.456-51.2 19.456-70.656 0-18.944-19.456-18.944-51.2 0-70.656l396.8-396.8c19.456-19.456 51.2-19.456 70.656 0 18.944 19.456 18.944 45.056 0 70.656z"></path>
                <path d="M745.472 940.544l-396.8-396.8c-19.456-19.456-19.456-51.2 0-70.656 19.456-19.456 51.2-19.456 70.656 0l403.456 390.144c19.456 25.6 19.456 51.2 0 76.8-26.112 19.968-51.712 19.968-77.312.512zm-564.224-63.488c0-3.584 0-7.68.512-11.264h-.512v-714.24h.512c-.512-3.584-.512-7.168-.512-11.264 0-43.008 21.504-78.336 48.128-78.336s48.128 34.816 48.128 78.336c0 3.584 0 7.68-.512 11.264h.512v714.24h-.512c.512 3.584.512 7.168.512 11.264 0 43.008-21.504 78.336-48.128 78.336s-48.128-35.328-48.128-78.336z"></path>
            </svg>
        </a>
    </li>
</ul> -->