{{- define "main" }}
<style>
    .body-box{width:100%;background: var(--background); color: var(--routine);}

    .timer-shaft-box{width:100%;padding:30px 40px;box-sizing: border-box;}
    .timer-shaft{position:relative;width:100%;height:80px;overflow: hidden;}
    .timer-left{position:absolute;top:50%;left:20px;z-index:1;width:23px;height:37px;margin-top:-18.5px;background: url(/static/front/images/timeline/icon_left.png) no-repeat;background-size: cover;cursor:pointer;}
    .timer-right{position:absolute;top:50%;right:20px;z-index:1;width:23px;height:37px;margin-top:-18.5px;background: url(/static/front/images/timeline/icon_right.png) no-repeat;background-size: cover;cursor:pointer;} 
    
    .timer-left{
        position:absolute;
        top:50%;
        left:20px;
        z-index:1;
        width:22px;
        height: 22px;
        margin-top: -2.5px;
        /* background: url(/static/front/images/timeline/icon_left.png) no-repeat;*/
        /* background-size: cover;  */

        border-top: 0.4rem solid var(--minor);
        border-right: 0.4rem solid var(--minor);
        box-shadow: 0 0 0 lightgray;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        
        -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
        transform: translate3d(0, -50%, 0) rotate(-135deg);

        cursor:pointer;
    }

    
    .timer-right{
        position:absolute;
        top:50%;
        right:20px;
        z-index:1;
        width: 22px;
        height: 22px;
        margin-top: -2.5px;
        /* background: url(/static/front/images/timeline/icon_right.png) no-repeat;
        background-size: cover; */

        border-top: 0.4rem solid var(--minor);
        border-right: 0.4rem solid var(--minor);
        box-shadow: 0 0 0 lightgray;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
        
        -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
        transform: translate3d(0, -50%, 0) rotate(45deg);

        cursor:pointer;
    } 
     

    
    .timer-scale{position:absolute;top:0;left:0;height:80px;padding-left: 80px;font-size: 0;white-space: nowrap;}
    .timer-scale-cont{display:inline-block;height:100%;line-height:80px;}
    .time-circle{display:inline-block;vertical-align:middle;width:60px;height:60px;line-height: 60px;text-align: center;font-size:18px;color:#fff;border-radius: 50%;background: #9fb19b;transition: all .3s;cursor:pointer;}
    .timer-scale-cont.hov .time-circle{width:80px;height:80px;line-height: 80px;font-size:24px;background: #84e173;}
    .line-scale{display:inline-block;vertical-align:middle;width:145px;height:22px;margin:0 2px;background: url(/static/front/images/timeline/icon_scale.png) no-repeat;background-size: cover;}

    .timer-shaft-content{width:100%;margin-top:45px;overflow: hidden;font-size:0;box-sizing:border-box;white-space: nowrap;}
    .shaft-detail-cont{display: none;width:100%;}
    .timer-year{padding-left:69px;font-weight:bold;/*color:#333;*/font-size:0;}
    
    .icon-year{display: inline-block;vertical-align:middle;width:33px;height:40px;background: url(/static/front/images/timeline/icon_sign.png) no-repeat;background-size: cover;}
    
    .icon-year{

        display: inline-block;
        vertical-align:middle;
        /* width:33px;
        height:40px;
        background: url(/static/front/images/timeline/icon_sign.png) no-repeat;
        background-size: cover; */

        color:#84e173;
        width:30px;
        height:30px;
        margin:30px auto;
        border:solid 2px currentColor;
        border-radius:16px 16px 16px 0;
        -webkit-transform:rotate(-45deg);
        -moz-transform: ratate(-45deg);
        transform:rotate(-45deg);

    }

    .timer-year span{display: inline-block;vertical-align:middle;margin-left:18px;font-size:24px;}
    .month-detail-box{position:relative;width:100%;min-height:93px;padding-top:30px;font-size:0;box-sizing: border-box;white-space: normal;}
    .month-detail-box:before{content: '';position:absolute;top:0;left:85px;height:100%;border-right:1px dashed #84e173;}
    .month-detail-box .month-title{position:absolute;font-size:16px;font-weight: bold;/*color:#333;*/}
    /* .month-detail-box .month-title:before{content: '';position:absolute;top:50%;left:79px;width:13px;height:13px;margin-top:-6.5px;background: url(/static/front/images/timeline/icon_circle.png) no-repeat;background-size: cover;}
     */
    .month-detail-box .month-title:before {
    /* content: '';
    position: absolute;
    top: 50%;
    left: 79px;
    width: 13px;
    height: 13px;
    margin-top: -6.5px; */
    /* background: url(/static/front/images/timeline/icon_circle.png) no-repeat; */
    /* background-size: cover; */
    content: '';
    position: absolute;
    top: 50%;
    left: 78px;
    width: 13px;
    height: 13px;
    margin-top: -6.5px;
    background-color: var(--background);
    border-radius: 50%;
    border: 1px solid #19be6b;
    }

    .incident-record{display:inline-block;padding-left:100px;line-height:2;font-size:14px;/*color:#333;*/}
    .incident-record a{font-size:14px;color:#1d69a3;}

    .arrow {
        position: absolute;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border-top: 0.4rem solid black;
        border-right: 0.4rem solid black;
        box-shadow: 0 0 0 lightgray;
        -webkit-transition: all 200ms ease;
        transition: all 200ms ease;
    }
.arrow.left {
    left: 5px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(-135deg);
    transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
    right: 5px;
    -webkit-transform: translate3d(0, -50%, 0) rotate(45deg);
    transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
    border-top: 0.8rem solid white;
    border-right: 0.8rem solid white;
    box-shadow: 0.4rem -0.4rem 0 black;
}
.arrow:hover.left {
    left: 0.5rem;
}
.arrow:hover.right {
    right: 0.5rem;
}
</style>

<div class="Qc_main Qc_page">
    <div class="Qc_detail">

        <div class="body-box">
            <div class="timer-shaft-box">
                <div class="timer-shaft">
                    

                    <div class="timer-left "></div>
                    <div class="timer-right"></div>
                    <!-- <a href="#" class="timer-left arrow"></a>
<a href="#" class="arrow timer-right"></a> -->

                    <div class="timer-scale">
                        {{ range .Site.Data.timeline }}
                        <div class="timer-scale-cont hov">
                            <p class="time-circle">{{ .Year | safeHTML  }}</p>
                            <p class="line-scale"></p>
                        </div>
                        {{ end }}
                      
                    </div>
                </div>
                <div class="timer-shaft-content">
                    {{ range .Site.Data.timeline }}
                    
                    <div class="shaft-detail-cont" >
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>{{ .Title | safeHTML  }}</span>
                        </p>
        
                        {{ range .TimeList }}
                        <div class="month-detail-box">
                            <span class="month-title">{{ .Cal | safeHTML }}</span>
                            <p class="incident-record">{{ .Desc | safeHTML }}</p>
                        </div>
                        {{ end }}
        
                    </div>
                    {{ end }}
                    
                   
        
                </div>
            </div>
        </div>
       

        <!-- <div class="body-box">
            <div class="timer-shaft-box">
                <div class="timer-shaft">
                    <div class="timer-left"></div>
                    <div class="timer-right"></div>
                    <div class="timer-scale">
                        <div class="timer-scale-cont hov">
                            <p class="time-circle">2022</p>
                            <p class="line-scale"></p>
                        </div>
                        <div class="timer-scale-cont">
                            <p class="time-circle">2021</p>
                            <p class="line-scale"></p>
                        </div>
                        <div class="timer-scale-cont">
                            <p class="time-circle">2020</p>
                            <p class="line-scale"></p>
                        </div>
                        <div class="timer-scale-cont">
                            <p class="time-circle">2019</p>
                            <p class="line-scale"></p>
                        </div>
                        <div class="timer-scale-cont">
                            <p class="time-circle">2018</p>
                            <p class="line-scale"></p>
                        </div>
                    </div>
                </div>
                <div class="timer-shaft-content">
                    <div class="shaft-detail-cont" style="display: block;">
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>2022年</span>
                        </p>
        
                        <div class="month-detail-box">
                            <span class="month-title">06月18日</span>
                            <p class="incident-record">【秋码记录】首页文章列表实现了骨架屏，接下来将逐渐使整站都完成骨架屏占位填充</p>
                            <p class="incident-record">
                                <img src="https://qiucodeimg.oss-rg-china-mainland.aliyuncs.com/qiucode2020/artSkeleton.gif" />
                            </p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">03月12日</span>
                            <p class="incident-record">【秋码记录】于03-10日晚间时分申请加入Google Ads,没想到03-12日就审核通过了！……</p>
                        </div>
        
        
                    </div>
                    <div class="shaft-detail-cont" >
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>2021年</span>
                        </p>
                        <div class="month-detail-box">
                            <span class="month-title">06月17日</span>
                            <p class="incident-record">开启二级域名 <a href="https://ui.qiucode.cn" target="_blank">ui.qiucode.cn</a> ，将作为 qiucode-ui 组件库文档地址。</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">06月13日</span>
                            <p class="incident-record">由于近来在攥写《同一地方》，所以【秋码记录】耽搁了，现将搜索文章功能初步完成，
                            当中难免有些这样或那样的问题，会尽量完善它的！</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">02月05日</span>
                            <p class="incident-record">【秋码记录】时间轴重新上新。</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">01月31日</span>
                            <p class="incident-record">【秋码记录】主题/模板深夜悄然上线了！</p>
                        </div>
        
                    </div>
                    <div class="shaft-detail-cont" >
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>2020年</span>
                        </p>
                        <div class="month-detail-box">
                            <span class="month-title">12月31日</span>
                            <p class="incident-record">2020年即将离去，或许多年后，忆起，该是怎样的心情呢？2020年，恍如昨日，一切却都那么历历在目；
                            但又很漫长……，总之，2020年是一个不一样的年份，让我们挥手告别这实属(鼠)不易(疫)的2020年吧！</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月01日</span>
                            <p class="incident-record">普天同庆，qiucode.cn整体架构重新设计……</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">08月12日</span>
                            <p class="incident-record">qiucode.cn接入第三方QQ登录以及实现文章付费阅读（集成支付宝支付）</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">06月20日</span>
                            <p class="incident-record">6.18年中优惠大促销，遂又购得一服务器，qiucode.cn终将归来，页面也较之前进行改版（也就是现在这版的了）</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">03月24日</span>
                            <p class="incident-record">时隔一年之久的开源项目（qiucode-ui）重新添加新组件，并发布最新版V0.0.77。由于去年双十一购买的服务器与域名不在同一云服务商，故而域名需转出转入，由于较为繁琐，遂停了！</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">01月31日</span>
                            <p class="incident-record">原定于此时返程，但由于疫情原因，故而又推迟了一周，然而一周的时间也到了，而疫情并未出现好转，
                                                                遂只能再次延缓了一周，在这接下来的一周时间里，疫情看似有所好转，也该返程了！
                                                                这个春节也是自步入社会后能在老家待了这么久，2020年，不一样的春节，
                                村中虽有烟花炮竹，但多人聚集，亲朋好友串门也随着疫情的严重性而闭门不出。</p>
                        </div>
        
                    </div>
        
                    <div class="shaft-detail-cont" >
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>2019年</span>
                        </p>
                        <div class="month-detail-box">
                            <span class="month-title">12月21日</span>
                            <p class="incident-record">首部作品《同一地方》发表于中文起点网，笔名：上官江南</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">11月11日</span>
                            <p class="incident-record">浏览各大云服务商，看看双十一活动，云服务器会优惠多少呢？索性购买了为期还是一年的云服务器。</p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">10月13日</span>
                            <p class="incident-record">为期一年的服务器到期了，续费又太贵了，故而暂且搁浅了。</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月01日</span>
                            <p class="incident-record">热烈庆祝中华人民共和国成立70周年，动身北上进京旅游观光。</p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">06月27日</span>
                            <p class="incident-record">qiucode.cn(秋码分享旧版)现已开源，源于开源，现回馈于开源。
                                Github地址： <a href="https://github.com/zhenqicai/qiucodeBlog" target="_blank">https://github.com/zhenqicai/qiucodeBlog</a>
                                码云地址： <a href="https://gitee.com/zhenqi/qiucodeBlog" target="_blank">https://gitee.com/zhenqi/qiucodeBlog</a>
                            </p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">04月25日</span>
                            <p class="incident-record">时间过得好快，因为最近很忙，以至于很多功能还未实现，现先将整个网站的架构改成Springboot，ORM还是使用Mybatis，前端
                        模板渲染引擎还是Freemarker，前端UI库还是Layui库，后续也会将现有的缓存Ehcache改成redis缓存。</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">03月11日</span>
                            <p class="incident-record">基于Vue.js2.X的qiucode-ui（组件库）开源了！github地址：<a href="https://github.com/zhenqicai/qiucodeUI" target="_blank">https://github.com/zhenqicai/qiucodeUI</a>,
                                qiucode-ui在线文档地址：<a href="https://zhenqicai.github.io/qiucodeUI-docs" target="_blank">https://zhenqicai.github.io/qiucodeUI-docs</a>
                            </p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">02月26日</span>
                            <p class="incident-record">基于Vue.js2.X的qiucode-ui（组件库）在npm上发布了！</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">01月31日</span>
                            <p class="incident-record">晌午时分，阴，饭后去会了多年未见的大佬，但第一眼见时，其已添了不少白发，或许是思绪太多吧！</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">01月01日</span>
                            <p class="incident-record">2018已然过去，不管在2018有没有实现你的愿望，反正2019已经到来了，那就把2018没实现的
                                放在2019去实现吧！元旦快乐！</p>
                        </div>
        
        
                    </div>
        
                    <div class="shaft-detail-cont" >
                        <p class="timer-year">
                            <i class="icon-year"></i>
                            <span>2018年</span>
                        </p>
                        <div class="month-detail-box">
                            <span class="month-title">10月30日</span>
                            <p class="incident-record">你瞧这些云聚了又散，散了又聚，人生离合，亦复如斯。--《神雕侠侣》</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月28日</span>
                            <p class="incident-record">秋码微信小程序上线，界面有待后续优化。。。</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月21日</span>
                            <p class="incident-record">免费体验服务器结束之际，迁移到新服务器，增加了缓存</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月14日</span>
                            <p class="incident-record">天气阴，貌似要下雨，却始终没有下！   晚间时分，全站配置https</p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月13日</span>
                            <p class="incident-record">注册了域名：qiucode.cn </p>
                        </div>
                        <div class="month-detail-box">
                            <span class="month-title">10月06日</span>
                            <p class="incident-record">秋码个人技术网站上线了<img src="https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1535176231879&amp;di=2fe344b5ceb8aba301eefc07adaf3126&amp;imgtype=0&amp;src=http%3A%2F%2Fimg.mp.itc.cn%2Fupload%2F20170222%2Fa51ea74b22c344c2b6ebb4a9c623f3e9.gif"></p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">10月05日</span>
                            <p class="incident-record">10月5日 不知多久前，本就有想弄个个人站点，但都是由于其他种种原因，以至于到现在才上线个人技术站点！</p>
                        </div>
        
                        <div class="month-detail-box">
                            <span class="month-title">10月01日</span>
                            <p class="incident-record">10月1日 普天同庆，祝愿我们的祖国更加繁荣昌盛！</p>
                        </div>
        
                    </div>
        
                </div>
            </div>
        </div> -->

    </div>
</div>

<script>


(function(){
  
    // 时间轴
    var timerNum = 0;
    var space = 210; // 移动间距
    //var length = $('.timer-scale-cont').length, numL;
    var length = document.querySelectorAll('.timer-scale-cont').length, numL;
    
    // 分辨率
    if(window.screen.width > 1500) {
        numL = length - 4
    } else if(window.screen.width < 1500) {
        numL = length - 3
    }
    // 点击左侧
    document.querySelector('.timer-left').addEventListener("click",() => {
        if(timerNum > 0) {
            timerNum -= 1;
            moveL(timerNum, numL)
        }
        tags(timerNum);
    })

    // $('.timer-left').on('click', function () {
    //     if(timerNum > 0) {
    //         timerNum -= 1;
    //         moveL(timerNum, numL)
    //     }
    //     tags(timerNum);
    // })
    // 点击右侧
    document.querySelector('.timer-right').addEventListener("click",() => {
        if(timerNum < length - 1) {
            timerNum += 1;
            tags(timerNum);
        }
        moveL(timerNum, numL)
    })
    // $('.timer-right').on('click', function () {
    //     if(timerNum < length - 1) {
    //         timerNum += 1;
    //         tags(timerNum);
    //     }
    //     moveL(timerNum, numL)
    // })
    // 点击年
    document.querySelectorAll('.time-circle').forEach((ele,index) => {
        
        ele.addEventListener("click",() => {
            timerNum = index;
            moveL(timerNum, numL)
            tags(timerNum);
        })
        
       
    })
   
    // $('.time-circle').each(function (index) {
    //     $(this).on('click', function () {
    //         timerNum = index;
    //         moveL(timerNum, numL)
    //         tags(timerNum);
    //     })
    // })
    function tags(num) {
        let timerCount = document.querySelectorAll('.timer-scale-cont');
        for(let i = 0; i < timerCount.length; i++) {
            let element = timerCount[i];
            if(num === i ){
                element.classList.add('hov');
                findBrotherDom(element).forEach(function (sibling) {
                    sibling.classList.remove("hov");
                });
                break;
            }
        }

        let detailCount = document.querySelectorAll('.shaft-detail-cont')
        for(let j = 0; j< detailCount.length; j ++) {
            let detailEle = detailCount[j];
            if(num === j ){
                detailEle.style.display = 'block';
                findBrotherDom(detailEle).forEach((sibling) => {
                    sibling.style.display = 'none';
                })
                break;
            }
        }
    }
    // function tags(num){

    //     $('.timer-scale-cont').eq(num).addClass('hov').siblings().removeClass('hov');
    //     $('.shaft-detail-cont').eq(num).show().siblings().hide();
    // }
    function moveL(num, len) {
        moveLeft = -num * space;
        //document.querySelector('.timer-scale').animate({left:moveLeft}, 700);
        animate(document.querySelector('.timer-scale'),{left:moveLeft})
    }
    // function moveL(num, len) {

    //     moveLeft = -num * space;
    //     $('.timer-scale').animate({left:moveLeft}, 700);
    // }

    function findBrotherDom(targetElement) {
        var siblings = []; // 存放兄弟节点数组
        
        if (targetElement.parentNode && targetElement.parentNode.childNodes) {
            for (var i = 0; i < targetElement.parentNode.childNodes.length; i++) {
                var childNode = targetElement.parentNode.childNodes[i];
                
                if (childNode !== targetElement && childNode.nodeType === Node.ELEMENT_NODE) {
                    siblings.push(childNode);
                }
            }
        }
        
        return siblings;
    }



    //返回el对象css样式中的property属性值
    function getStyle(el, property) {
        if (getComputedStyle) {
            return getComputedStyle(el)[property];
        } else {
            return el.currentStyle[property];
        }
    }
    /* 对el对象css样式中的属性值进行更改，更改的内容在properties里面，properties是一个
    属性对象数组，对每一个properties里的每一个对象值进行修改，并且产生由快到慢的动画
    效果变化 */
    function animate(el, properties) {
        clearInterval(el.timeId);
        //产生动态效果的方法
        el.timeId = setInterval(function() {
            for (var property in properties) {
                var current;
                var target = properties[property];
                //分为两种参数，一种是透明度，范围是0到1的变化
                if (property == "opacity") {
                    current = Math.round(getStyle(el, "opacity") * 100);
                }
                //另一种是像素的变化，如width , height 等
                else {
                    current = parseInt(getStyle(el, property));
                }
                //属性的变化速度（由快到慢）
                var speed = (target - current) / 30;
                //ceil向上取整  floor向下取整
                speed = speed > 0 ? Math.ceil(speed) : Math.floor(speed);
                //重新设置el对象 css中的样式
                if (property == "opacity") {
                    el.style.opacity = (current + speed) / 100;
                } else {
                    el.style[property] = current + speed + "px";
                }
            }
        }, 20);

    }

    //首次运行
    moveL(0, numL)
    tags(0);

})()


</script>
    


{{- end }}